html{
  box-sizing: border-box
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding:0;
}
#name {
  padding: 0 10px;
}
#contact {
  display: flex;
  border: 1px solid white;
  width: 100%;
}
#contact p {
  width: 50%;
  text-align: center;
  padding: 25px;
  margin: 0;
  background-color: #B7D162;
  font-size: 20px;
}
#contact p:first-child {
  background-color: #42a936bc;
}
#occupation {
  background-color: lightgray;
  width: 100%;
  text-align: center;
}
#brand {
  display: none;
}
#status {
  margin-left: auto;
  padding: 7px;
  color: darkgray;
}
img {
  border-radius: 50%;
  border: 3px solid #42a936bc;
  margin: 0 auto;
}

@media only screen and (min-width:600px) {
  main {
    display: grid;
    width: 700px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    gap: 0;
    grid-template-areas: 
    "status name"
    "img occupation"
    "img brand"
    "contact offer";
    
  }
  #status {
    grid-area: status;
    margin-right: auto;
    width: 100%;
  }
  #name {
    grid-area: name;
    margin-top: auto;
    padding: 10px 0 0 0;
  }
  #img {
    grid-area: img;
    height: 100%;
    align-content: center;
    justify-content: center;
  }
  #occupation {
    grid-area: occupation;
    font-size: 1.5rem;
  }
  #brand {
    grid-area: brand;
    display: flex;
    font-size: 1.2rem;
    color: gray;
  }
  #brand > p {
    border-left: 2px solid green;
    padding: 0 20px 0 8px;
    font-size: 1.4rem;
  } 
  #contact {
    grid-area: contact;
    width: 100%;
    height: 75%;
    margin-top: auto;
  }
  #offer {
    grid-area: offer;
    font-size: 1.2rem;
  }
  #name, #occupation, #brand, #offer {
    /* border: 1px solid red; */
    background-color: lightgray;
    height: 100%;
    text-align: left;
    padding: 10px 0 0 15px;
  }

}

